<div class="product-detail">
    <h2>KRAFT - {{product.title}}</h2>
    <p>{{product.caption}}</p>

    <img [src]="getImagePath(product.image)" alt="{{product.title}}"/>

    <dl>
        <dt>Ingredients</dt>
        <dd [innerHTML]="product.ingredients"></dd>

        <dt>Allergen</dt>
        <dd>{{product.allergen}}</dd>

        <dt>Quantity of Nuts per serving</dt>
        <dd>{{product.qty_nuts}}g</dd>

        <dt>Daily Nut Target</dt>
        <dd>{{product.nuts}}</dd>
    </dl>

    <nutrition-data [product]="product"></nutrition-data>
</div>