.recipe-detail {
  padding-top: 20px; }
  .recipe-detail header {
    padding: 0 15px; }
  .recipe-detail h3 {
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    border-top: 3px double #ccc;
    border-bottom: 3px double #ccc; }
  .recipe-detail .product-image {
    padding: 20px 0;
    max-width: 100px;
    margin: auto; }
  .recipe-detail p.copy-text {
    white-space: pre-line; }
  .recipe-detail .recipe-image {
    margin-top: 10px;
    box-shadow: 3px 5px 8px #888; }
  .recipe-detail a.recipe-list-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
