.recipe-list {
    padding: 20px 0;
    max-height: 300px;
    overflow: auto;
    table {
        tr {
            &.list-group-item {
                display: table-row;
            }
            td {
                &.title {
                    width: 95%;
                }
            }
        }
    }
}